<form [formGroup]="sintomaForm" (ngSubmit)="onSubmit()">

    <ion-item>
        <ion-label position="floating">Nome do Sintoma</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="sintomaForm.get('nome')?.invalid && (sintomaForm.get('nome')?.dirty || sintomaForm.get('nome')?.touched)">
        <ng-container *ngIf="sintomaForm.get('nome')?.errors?.['required']">
            Campo obrigatório
        </ng-container>
        <ng-container *ngIf="sintomaForm.get('nome')?.errors?.['minlength']">
            O tamanho mínimo são 3 caracteres
        </ng-container>
    </ion-note>

    <ion-item>
        <ion-label position="floating">Remédios</ion-label>
        <ion-select formControlName="remedios" multiple="true" cancelText="Cancelar" okText="Confirmar"
            [compareWith]="compareWith">
            <ion-select-option *ngFor="let remedio of remedios" [value]="remedio">{{ remedio.nome }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-note color="danger" *ngIf="sintomaForm.get('remedios')?.invalid && (sintomaForm.get('remedios')?.dirty || sintomaForm.get('remedios')?.touched)">
        <ng-container *ngIf="sintomaForm.get('remedios')?.errors?.['remedioInvalido']">
            Devem ser selecionados no mínimo 1 remédio.
        </ng-container>
    </ion-note>

    <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-toggle formControlName="ativo"></ion-toggle>
    </ion-item>
    <ion-note color="danger" *ngIf="sintomaForm.get('ativo')?.invalid && (sintomaForm.get('ativo')?.dirty || sintomaForm.get('ativo')?.touched)">
        <ng-container *ngIf="sintomaForm.get('ativo')?.errors?.['required']">
            Campo obrigatório
        </ng-container>
    </ion-note>

    <ion-row class="ion-margin-top">
        <ion-col size="12" class="ion-text-center">
            <ion-button expand="block" type="submit" [disabled]="sintomaForm.invalid">
                Salvar
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

</form>
