<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Listagem de remedios
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let remedio of remedios">
            <ion-label class="remedio-descricao">
                <h1>{{remedio.nome}}</h1>
                <h2>{{remedio.descricao}}</h2>
                <h3>
                    <strong>
                        {{remedio.fabricante.length > 1 ? 'fabricante(es)' : 'fabricante' }}:
                    </strong>
                </h3>
                <ul>
                    <li *ngFor="let fabricante of remedio.fabricante">
                        <h3 class="fabricante">{{fabricante.razaoSocial}}</h3>
                    </li>
                </ul>
                <h3><strong>Saldo</strong>: {{remedio.saldo}}</h3>
                <h3><strong>Data de Validade</strong>: {{remedio.dataValidade}}</h3>
                <h3><strong>Controlado</strong>: {{remedio.controlado}}</h3>
                <ion-button [routerLink]="['remedios', remedio.id]">Editar</ion-button>
                <ion-button (click)="excluir(remedio)">Excluir</ion-button>
            </ion-label>
        </ion-item>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['novo']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>