<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de fabricante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="fabricanteForm">

    <!-- Razão Social -->
    <ion-item>
      <ion-label position="floating">Razão Social: </ion-label>
      <ion-input formControlName="razaoSocial" type="text"></ion-input>
    </ion-item>

    <!-- CNPJ -->
    <ion-item>
      <ion-label position="floating">CNPJ: </ion-label>
      <ion-input formControlName="cnpj" type="text"></ion-input>
    </ion-item>

    <!-- Telefone -->
    <ion-item>
      <ion-label position="floating">Telefone: </ion-label>
      <ion-input formControlName="telefone" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail: </ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <!-- Ativo -->
    <ion-list>
      <ion-list-header>
        <ion-label>Ativo</ion-label>
      </ion-list-header>
      <ion-radio-group name="ativo" formControlName="ativo">
        <ion-item>
          <ion-label>Ativo</ion-label>
          <ion-radio slot="start" [value]="true"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Inativo</ion-label>
          <ion-radio slot="start" [value]="false"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- Licença Ativa -->
    <ion-item>
      <ion-label>Licença Ativa</ion-label>
      <ion-checkbox slot="start" formControlName="licencaativa"></ion-checkbox>
    </ion-item>
    

    <!-- Botão de Salvar -->
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
