<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Listagem de sintomas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let sintoma of sintomas">
            <ion-label class="sintoma-descricao">
                <h1>{{ sintoma.nome }}</h1>
                <h3><strong>Ativo</strong>: {{ sintoma.ativo ? 'Sim' : 'Não' }}</h3>
                <h3>
                    <strong>
                        {{ sintoma.remedio.length > 1 ? 'Remédios associados' : 'Remédio associado' }}:
                    </strong>
                </h3>
                <ul>
                    <li *ngFor="let remedio of sintoma.remedio">
                        <h3 class="remedio">{{ remedio.nome }}</h3>
                    </li>
                </ul>
                <ion-button [routerLink]="['sintomas', sintoma.id]">Editar</ion-button>
                <ion-button (click)="excluir(sintoma)">Excluir</ion-button>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['novo']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
