<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Cadastro de Remedios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="remedioForm" (ngSubmit)="onSubmit()">

        <ion-item>
            <ion-input formControlName="nome" type="text" placeholder="Nome" label="Nome"
                labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-note class="ion-padding" color="danger" *ngIf="remedioForm.get('nome')?.invalid &&
        (remedioForm.get('nome')?.dirty || remedioForm.get('nome')?.touched)">
            <span *ngIf="remedioForm.get('nome')?.errors?.['required']">
                Campo obrigatório
            </span>
            <span *ngIf="remedioForm.get('nome')?.errors?.['minlength']">
                O tamanho mínimo são 3 caracteres
            </span>
        </ion-note>

        <ion-item>
            <ion-input formControlName="descricao" type="text" placeholder="Descricao" label="Descricao"
                labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-note class="ion-padding" color="danger" *ngIf="remedioForm.get('descricao')?.invalid &&
        (remedioForm.get('descricao')?.dirty || remedioForm.get('descricao')?.touched)">
            <span *ngIf="remedioForm.get('descricao')?.errors?.['required']">
                Campo obrigatório
            </span>
            <span *ngIf="remedioForm.get('descricao')?.errors?.['minlength']">
                O tamanho mínimo são 5 caracteres
            </span>
            <span *ngIf="remedioForm.get('descricao')?.errors?.['maxlength']">
                O tamanho máximo é de 300 caracteres
            </span>
        </ion-note>

        <ion-item>
            <ion-input formControlName="saldo" type="number" placeholder="Saldo" label="Saldo"
                labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-note class="ion-padding" color="danger" *ngIf="remedioForm.get('saldo')?.invalid &&
                (remedioForm.get('saldo')?.dirty || remedioForm.get('saldo')?.touched)">
            <span *ngIf="remedioForm.get('saldo')?.errors?.['min']">
                O valor deve ser diferente de 0
            </span>
        </ion-note>

        <ion-item>
            <ion-input formControlName="validade" type="date" placeholder="Data de validade" label="Data de validade"
                labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Data de validade: </ion-label>
      
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
      
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetime"
                  formControlName="dataValidade"
                  display-format="DD de MMMM de YYYY"
                  min="1930-01-01"
                  presentation="date"
                  showDefaultButtons="true"
                  doneText="Selecionar"
                  cancelText="Cancelar"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

        <ion-note class="ion-padding" color="danger" *ngIf="remedioForm.get('dataValidade')?.invalid &&
        (remedioForm.get('dataValidade')?.dirty || remedioForm.get('dataValidade')?.touched)">
            <span *ngIf="remedioForm.get('dataValidade')?.errors?.['required']">
                O campo é obrigatório
            </span>
        </ion-note>

        <ion-list>
            <ion-list-header>
              <ion-label>Ativo</ion-label>
            </ion-list-header>
            <ion-radio-group name="ativo" formControlName="ativo">
              <ion-item>
                <ion-radio slot="start" value="A">Ativo</ion-radio>
              </ion-item>
              <ion-item>
                <ion-radio slot="start" value="I">Inativo</ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

        <ion-list>
            <ion-list-header>
              <ion-label>Controlado</ion-label>
            </ion-list-header>
            <ion-radio-group name="controlado" formControlName="controlado">
              <ion-item>
                <ion-radio slot="start" value="C">Controlado</ion-radio>
              </ion-item>
              <ion-item>
                <ion-radio slot="start" value="N">Controlado</ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

        <ion-note class="ion-padding" color="danger" *ngIf="remedioForm.get('controlado')?.invalid &&
        (remedioForm.get('controlado')?.dirty || remedioForm.get('controlado')?.touched)">
            <span *ngIf="remedioForm.get('controlado')?.errors?.['required']">
                O campo é obrigatório
            </span>
        </ion-note>

        <ion-item>
            <ion-item>
                <ion-select formControlName="fabricante" label="fabricante(es)" value="" multiple="true"
                    placeholder="Selecione os fabricante" [compareWith]="compareWith">
                    <ion-select-option *ngFor="let fabricante of fabricante" [value]="fabricante">
                        {{fabricante.nome}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-item>

        <ion-note class="ion-padding" color="danger" *ngIf="remedioForm.get('fabricante')?.invalid &&
        (remedioForm.get('fabricante')?.dirty || remedioForm.get('fabricante')?.touched)">
            <span *ngIf="remedioForm.get('fabricante')?.errors?.['fabricanteInvalido']">
                Devem ser selecionados no mínimo 1 fabricante e no máximo 10.
            </span>
        </ion-note>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-button type="submit" [disabled]="remedioForm.invalid">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-fab>

    </form>

</ion-content>

<ion-footer>

</ion-footer>